@font-face {
    font-family: 'OmegaSans';
    src: url(/fonts/OmegaSans.ttf);
}

html{
    scroll-behavior: smooth;
}

/* body{
    font-family: OmegaSans;
}

h1, h2, h3, h4{
    font-weight: bold;
} */

#desteklenen-uygulamalar .card,
#supported-apps .card{
    height: 250px;
    color: white;
}

#desteklenen-uygulamalar .card-discord,
#supported-apps .card-discord{
    background: linear-gradient(
        45deg,
        rgba(86, 98, 246, 1) 0%,
        rgba(184, 184, 184, 1) 100%
    );
}

#desteklenen-uygulamalar .card-spotify,
#supported-apps .card-spotify{
    background: linear-gradient(
        135deg,
        rgba(11, 86, 38, 1) 0%,
        rgba(184, 184, 184, 1) 100%
    );
}

#desteklenen-uygulamalar .card-twitch,
#supported-apps .card-twitch{
    background: linear-gradient(
        -135deg,
        rgba(67, 44, 101, 1) 0%,
        rgba(184, 184, 184, 1) 100%
    );
}

#desteklenen-uygulamalar .card-obs,
#supported-apps .card-obs{
    background: linear-gradient(
        -45deg,
        rgba(40, 37, 40, 1) 0%,
        rgba(184, 184, 184, 1) 100%
    );
}

#platform-ve-indirme .aciklama{
    min-height: 120px;
}
