@font-face {
    font-family: 'OmegaSans';
    src: url(/fonts/OmegaSans.ttf);
}

.logo-commercial img{
    -webkit-filter: invert(1);
    filter: invert(1);
}

.commercial-card{
    background:linear-gradient(135deg, #e3e3e3 0%,#5D6874 100%);
}